body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.tile {
    display: block;
    background: #c6fdff;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 30, 99);
    transition: transform 0.2s ease, background 0.3s ease;
    margin: 20px;
}

.tile:hover {
    transform: scale(1.05);
    background: #c6fdff;
}

.logo {
    height: 55px;
    vertical-align: middle;
}