<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tennis at Love{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
        <img src="{{ url_for('static', filename='assets/Logo.png') }}" alt="Tennis logo" class="logo" />
        <h1 class="title"><a href="{{ url_for('home') }}">Tennis at Love</a></h1>
        </div>
        <nav>
            <a>The go-to hub for all things tennis related.</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
